.checked {
  color: orange;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.2s;
  scroll-behavior: smooth;
  font-family: lato;
}

a {
  color: #2a2e3b;
  text-decoration: none;
}
a:hover {
  color: #ED2B2A;
  transition: 0.5s;
}

body {
  margin: 0;
}

h1, h3 {
  color: #ED2B2A;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1% 5% 1% 5%;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 6vh;
  background: white;
  z-index: 2;
  top: 0;
}

#account, .log-out, .selectCar, #viewRent, #thankYouClose, #addRent, #overwriteRent, #overwriteCancel, #askReview, #cancelRide, #cancelRent, #Cancel, #finishRent, #finishRentNoReview, #submit, #submitRent, #account-mobile {
  cursor: pointer;
  border-radius: 5px;
  background-color: #ED2B2A;
  border: none;
  color: white;
  width: 100px;
  height: 6vh;
  padding: 1%;
}

#submit {
  width: 40%;
}

#submitRent {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

select, input[type=date], input[type=time] {
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
select:focus, input[type=date]:focus, input[type=time]:focus {
  outline: none;
  border: 1px solid #ED2B2A;
}

#pickL, #dropL, #pickT, #dropT, #pickD, #dropD {
  padding: 1%;
  font-weight: bold;
}

#account, .log-out, #askReview, #cancelRide, #account-mobile {
  background: white;
  border: 1px solid #ED2B2A;
  color: #ED2B2A;
  font-weight: bold;
  height: -moz-fit-content;
  height: fit-content;
}
#account:hover, .log-out:hover, #askReview:hover, #cancelRide:hover, #account-mobile:hover {
  background: #ED2B2A;
  color: white;
}

#askReview, #cancelRide {
  height: 50px;
}

#loginButton, #registerButton {
  margin: 2% 0;
  width: 30%;
  cursor: pointer;
  display: grid;
  align-self: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ED2B2A;
  border: none;
  color: white;
  padding: 5px 5px;
}

.loginFormMain, .registerFormMain {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.loginFormMain label, .registerFormMain label {
  margin: 1% 0;
}

.login-form, .register-form {
  width: 60%;
  height: 60%;
  background: red;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1411764706);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#wrongData {
  display: none;
  margin-bottom: 2%;
  text-align: center;
  color: red;
  font-weight: bold;
}

.display {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

.account-details {
  padding: 9vh 15% 0% 15%;
}

.account-user, .log-out {
  font-weight: bold;
}

.registerButton, .switchLogin {
  color: red;
  cursor: pointer;
}

.logo-N {
  transform: rotate(16deg);
  display: inline-block;
  color: #ED2B2A;
}

.nav-elements {
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #2a2e3b;
  text-shadow: 0px 1px 2px rgba(6, 7, 10, 0.8);
}

#choose-currency {
  cursor: pointer;
  font-size: 16px;
  color: #038489;
  border: none;
  outline: none;
  text-align: center;
  background: white;
}

main {
  box-sizing: border-box;
  padding: 9vh 5% 0% 5%;
}

.main-rent {
  padding: 0 15% !important;
  overflow: overlay;
}

.pick-drop-location, .pick-drop-date, .pick-drop-time {
  display: flex;
  gap: 20px;
}

.pick-date-container, .drop-date-container, .pick-time-container, .drop-time-container {
  width: -moz-min-content;
  width: min-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-shadow: 0px 1px 2px rgba(6, 7, 10, 0.8);
  font-weight: bold;
}

.date-container, .time-container {
  gap: 10px;
  display: flex;
}

.pick-container, .drop-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  text-shadow: 0px 1px 2px rgba(6, 7, 10, 0.8);
  font-weight: bold;
}

.rent-form {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-image: url("./imgs/car-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  color: white;
  padding: 10% 5%;
  box-sizing: border-box;
  text-shadow: 0px 1px 2px rgba(6, 7, 10, 0.8);
}
.rent-form input[type=submit] {
  cursor: pointer;
  margin-top: 2%;
  border: none;
  font-size: 18px;
  background-color: #ED2B2A;
  width: 40%;
  height: 20%;
  color: white;
  font-weight: bold;
  border-radius: 2500rem;
}

.about-us {
  padding: 6% 0% 6% 0%;
}

.faq {
  padding: 0% 15% 6% 15%;
}
.faq h1 {
  text-align: center;
}

.q-title {
  display: flex;
  justify-content: space-between;
}

.question {
  border-bottom: 1px solid lightgrey;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.show-answer {
  max-height: 1000px !important;
  padding-bottom: 5%;
}

.q-answer {
  transition: 0.4s max-height;
  max-height: 0;
  overflow: hidden;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.arrow-show {
  display: inline-block;
  height: 18px;
  width: 18px;
}

.rev-comment {
  min-height: 70px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  background: white;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  gap: 5px;
  box-sizing: border-box;
  height: 300px;
  width: 31%;
  text-align: center;
  font-size: 18px;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(0deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 50%);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
  color: #ED2B2A;
}

.swiper {
  display: flex;
  justify-content: center;
}

.swiper-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.rev-comment {
  font-size: 14px;
}

.rev-name {
  font-weight: bold;
}

.rev-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #FEBE10;
}

.top-cars-week {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.cars {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.car {
  width: 33%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1%;
}
.car img {
  width: 70%;
}

footer {
  padding: 10% 0% 2% 0%;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 3% 3%;
  font-weight: bold;
  gap: 10px;
  flex-wrap: wrap;
}

.copyright {
  padding: 0% 10% 0% 10%;
}
.copyright p {
  font-size: 12px;
}

.rent-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: none;
  padding-top: 7vh;
  padding-bottom: 1vh;
  background: white;
}
.rent-page div {
  display: flex;
  gap: 10px;
  width: -moz-min-content;
  width: min-content;
}

.available-cars-settings {
  display: flex;
  height: 100vh;
}

.settings-container {
  width: 17%;
  height: 60%;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.setting-container {
  height: 30%;
  padding-bottom: 10px;
}
.setting-container h4 {
  height: 10%;
  margin: 5% 0;
}
.setting-container::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.setting-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.settings {
  overflow-y: scroll;
  height: 100%;
}
.settings::-webkit-scrollbar {
  display: none;
}

.setting {
  padding: 5px 0px;
}
.setting #price {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  color: red;
  font-weight: bold;
}
.setting #price-range {
  width: 100%;
}
.setting .select-all {
  font-weight: bold;
}

#totalPrice .settings, #securityDeposit .settings {
  overflow: auto;
}

.filter-container {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgrey;
}

.reset-button {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

input[type=checkbox], label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input[type=email], input[type=password], input[type=text] {
  border: none;
  border-bottom: 1px solid #ED2B2A;
  outline: none;
}

#securityDeposit .settings, #totalPrice .settings {
  overflow: hidden;
}

.available-cars {
  width: 85%;
  padding-left: 25%;
}

legend {
  font-weight: bold;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

input[type=checkbox], input[type=range] {
  accent-color: #ED2B2A;
}

.selectCarHover {
  box-shadow: 0 4px 7px 0 rgba(42, 46, 59, 0.2);
}

.rentableCar {
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 20vh;
  border: 1px solid lightgrey;
  margin: 0px 10px 10px 10px;
  box-shadow: 1px 1px 3px -1px black;
}

.selectContainer, .currentRentedRidePop, .thankYou, .overwriteRentContainer {
  width: 80%;
  height: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selectContainerClose, .loginFormClose, .registerFormClose {
  cursor: pointer;
  position: absolute;
  right: 19px;
  top: 15px;
}

.thankYou {
  padding: 1% 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  align-items: center;
}

.currentRentedRide, .currentRentedRideNone {
  width: 100%;
  height: 100px;
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1%;
  cursor: pointer;
  border-radius: 5px;
  background: white;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.currentRentedRide:hover, .currentRentedRideNone:hover {
  box-shadow: 0 4px 7px 0 rgba(42, 46, 59, 0.2);
}

.currentRentedRideNone {
  display: flex;
  font-weight: bold;
  color: #2a2e3b;
}

.current-rent-title {
  margin-bottom: 10px;
}

.reviewStar {
  cursor: pointer;
}

.img-car {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  height: 100px;
}

.rent-options {
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rent-details-container {
  height: 75%;
  display: flex;
}

.currentRentedRidePop {
  width: 60%;
  height: 65%;
}

.rent-details {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.show-filters, .show-date {
  display: none;
  cursor: pointer;
  border: none !important;
  position: fixed;
  font-weight: bold;
  border: 1px solid lightgrey;
  text-align: center;
  bottom: 12vh;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  padding: 2%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #ED2B2A;
  color: white;
  border-radius: 50px;
}

.show-date {
  bottom: 5vh;
  border-top: none;
}

.hamburger-mobile-container, .hamburger-mobile {
  display: none;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-elements-mobile {
  z-index: 2;
  width: 100%;
  margin-top: 6vh;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: fixed;
  background: white;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2%;
}

.rev-buttons {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.substractPadding {
  padding-top: 1%;
}

@media only screen and (max-width: 768px) {
  .pick-drop-location, .pick-drop-date, .date-container, .time-container {
    font-size: 18px;
    flex-direction: column;
    width: 100%;
  }
  .pick-drop-time {
    flex-wrap: wrap;
  }
  #submitRent {
    width: 60%;
    height: 4vh;
  }
  .nav-elements-mobile a {
    font-size: 20px;
  }
  .hamburger-mobile-container, .hamburger-mobile {
    display: flex;
  }
  .nav-elements {
    display: none;
  }
  .car {
    width: 60%;
    display: inline;
  }
  .cars {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cars img {
    width: 80%;
  }
  .rent-page {
    display: none;
  }
  .main-rent {
    padding: 6vh 1% 0% 1% !important;
  }
  .settings-container {
    display: none;
    width: 45%;
    background: white;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 3;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 1% 1% 1% 0%;
    border: 1px solid lightgrey;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .available-cars {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rent-page {
    flex-direction: column;
    border: 1px solid lightgrey;
    position: fixed;
    width: 100%;
  }
  .rentableCar {
    margin: 0px 0px 10px 0px;
  }
  #pickL, #dropL, #pickT, #dropT, #pickD, #dropD {
    width: 80vw;
    font-size: 16px;
  }
  .show-filters, .show-date {
    display: block;
    padding: 1.5%;
  }
  .rent-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 425px) {
  h1 {
    text-align: center;
  }
  .currentRentedRidePop, .thankYou, .selectContainer, .login-form, .register-form {
    width: 100%;
    height: 100%;
  }
  .account-details {
    padding: 9vh 5% 0% 5%;
  }
  .rentableCar {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 5px;
  }
  .carImage-carModel-carType img {
    width: 100%;
  }
  .selectCar {
    height: 6vh;
    width: 90%;
  }
  .show-filters, .show-date {
    display: block;
    padding: 2%;
  }
  .show-filters {
    bottom: 10vh;
  }
  .rent-details-container {
    flex-direction: column;
  }
  .rent-details-container img {
    width: 80%;
  }
  .rent-details {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  #addRent {
    width: 80%;
  }
}
@media only screen and (max-width: 375px) {
  .footer-nav {
    flex-direction: column;
  }
  .rent-details-container {
    flex-direction: column;
  }
  .rent-details-container img {
    width: 80%;
  }
}
.--move-filter-button {
  margin-left: 65%;
}/*# sourceMappingURL=style.css.map */